@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

body {
  font-size: 16px;
  color: #404040; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  color: #404040;
  text-decoration: none; }

header.top {
  margin: 0 auto;
  width: 100%;
  min-height: 127px;
  max-width: 860px; }
  header.top .title {
    margin: 18px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 476px;
    min-height: 127px;
    padding-left: 111px;
    background: url("../images/logo.png") no-repeat left center;
    background-size: 89px 89px !important; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      header.top .title {
        background: url("../images/logo@2x.png") no-repeat left center; } }
    header.top .title img {
      width: 100%;
      height: auto; }

.container.index {
  margin: 0 auto;
  width: 100%;
  max-width: 860px;
  border-top: #FFC8D2 3px solid; }
  .container.index .banner {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    height: 360px;
    background: url("../images/banner.jpg") no-repeat;
    background-size: contain !important; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      .container.index .banner {
        background: url("../images/banner@2x.jpg") no-repeat; } }
    .container.index .banner .item {
      margin: 32px 14px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      background: #FFBC10;
      color: #fff;
      text-align: center; }
    .container.index .banner .language {
      position: absolute;
      top: 14px;
      right: 14px;
      display: block;
      width: 42px;
      height: 18px;
      background: url("../images/language.png") no-repeat;
      background-size: contain !important; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .container.index .banner .language {
          background: url("../images/language@2x.png") no-repeat; } }

.container.index2 article {
  display: none; }
  .container.index2 article.js-active {
    display: block; }
.container.index2 header {
  margin: 0 auto;
  width: 100%;
  padding: 108px 65px 0;
  max-width: 860px;
  height: 158px;
  background: url("../images/banner2.jpg") no-repeat;
  background-size: contain !important;
  font-size: 2.25em;
  color: #fff; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .container.index2 header {
      background: url("../images/banner2@2x.jpg") no-repeat; } }
.container.index2 .content {
  margin: 0 auto;
  width: 100%;
  max-width: 860px;
  min-height: 312px;
  padding: 48px 60px;
  color: #fff;
  background: #FFC8D2;
  line-height: 2.25em; }
.container.index2 .page2 li {
  margin: 24px 0;
  padding-left: 19px;
  background: url("../images/tri.png") no-repeat left center;
  background-size: 12px 12px !important;
  line-height: 1.2em; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .container.index2 .page2 li {
      background: url("../images/tri@2x.png") no-repeat left center; } }
.container.index2 .page2 .content {
  background: #FFC8D2 url("../images/image02.png") no-repeat right 82px bottom;
  background-size: 116px 146px !important; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .container.index2 .page2 .content {
      background: #FFC8D2 url("../images/image02@2x.png") no-repeat right 82px bottom; } }
.container.index2 .page3 ol {
  display: flex; }
  .container.index2 .page3 ol li {
    position: relative;
    margin: 0 2px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 245px;
    height: 245px;
    padding-top: 38px;
    border: 1px #fff solid;
    border-radius: 5px; }
    .container.index2 .page3 ol li:nth-of-type(1) {
      background: url("../images/image03_1.png") no-repeat center center;
      background-size: 65px 44px !important; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .container.index2 .page3 ol li:nth-of-type(1) {
          background: url("../images/image03_1@2x.png") no-repeat center center; } }
    .container.index2 .page3 ol li:nth-of-type(2) {
      background: url("../images/image03_2.png") no-repeat center center;
      background-size: 54px 52px !important; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .container.index2 .page3 ol li:nth-of-type(2) {
          background: url("../images/image03_2@2x.png") no-repeat center center; } }
    .container.index2 .page3 ol li:nth-of-type(3) {
      background: url("../images/image03_3.png") no-repeat center center;
      background-size: 64px 54px !important; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .container.index2 .page3 ol li:nth-of-type(3) {
          background: url("../images/image03_3@2x.png") no-repeat center center; } }
    .container.index2 .page3 ol li:hover {
      background-color: #FF9FB1; }
    .container.index2 .page3 ol li span {
      display: inline-block;
      font-size: 1.25em;
      text-align: center; }
      .container.index2 .page3 ol li span:last-of-type {
        width: 170px;
        height: 40px;
        font-size: .875em;
        line-height: 1em; }
.container.index2 .page4 li {
  margin: 0 auto 11px;
  width: 363px;
  height: 45px;
  padding-left: 28px;
  background: url("../images/option.png") no-repeat center center;
  background-size: 363px 45px !important;
  line-height: 45px; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .container.index2 .page4 li {
      background: url("../images/option@2x.png") no-repeat center center; } }
  .container.index2 .page4 li:hover {
    background: url("../images/option_hover.png") no-repeat center center; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      .container.index2 .page4 li:hover {
        background: url("../images/option_hover@2x.png") no-repeat center center; } }
.container.index2 .page4 .content {
  background-color: #FFC8D2 !important;
  background: url("../images/image04_1.png") no-repeat right bottom, url("../images/image04_2.png") no-repeat left bottom;
  background-size: 220px 240px, 220px 240px !important; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .container.index2 .page4 .content {
      background: url("../images/image04_1@2x.png") no-repeat right bottom, url("../images/image04_2@2x.png") no-repeat left bottom; } }
.container.index2 .page5 ol {
  padding-left: 93px; }
.container.index2 .page5 li {
  display: flex;
  flex-direction: row; }
  .container.index2 .page5 li span {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 90px; }
    .container.index2 .page5 li span:last-of-type {
      justify-content: flex-start;
      line-height: 1em; }
.container.index2 .page5 .content {
  background: #FFC8D2 url("../images/logo.png") no-repeat left center;
  background-origin: content-box !important;
  background-size: 91px 91px !important; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .container.index2 .page5 .content {
      background: #FFC8D2 url("../images/logo@2x.png") no-repeat left center; } }

nav.index {
  margin: 0 auto;
  width: 100%;
  max-width: 860px; }
  nav.index ol {
    display: flex;
    flex-wrap: wrap; }
    nav.index ol li {
      width: 25%;
      height: 75px;
      background: #FFC8D2;
      text-align: center; }
      nav.index ol li:hover {
        background: #ff7e96; }
      nav.index ol li:nth-of-type(1) a:after {
        content: "";
        position: absolute;
        left: 0;
        top: calc(50% - 32px);
        width: 64px;
        height: 64px;
        background: url("../images/menu1.png") no-repeat center center;
        background-size: contain !important; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          nav.index ol li:nth-of-type(1) a:after {
            background: url("../images/menu1@2x.png") no-repeat center center; } }
      nav.index ol li:nth-of-type(2) a:after {
        content: "";
        position: absolute;
        left: 0;
        top: calc(50% - 32px);
        width: 64px;
        height: 64px;
        background: url("../images/menu2.png") no-repeat center center;
        background-size: contain !important; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          nav.index ol li:nth-of-type(2) a:after {
            background: url("../images/menu2@2x.png") no-repeat center center; } }
      nav.index ol li:nth-of-type(3) a:after {
        content: "";
        position: absolute;
        left: 0;
        top: calc(50% - 32px);
        width: 64px;
        height: 64px;
        background: url("../images/menu3.png") no-repeat center center;
        background-size: contain !important; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          nav.index ol li:nth-of-type(3) a:after {
            background: url("../images/menu3@2x.png") no-repeat center center; } }
      nav.index ol li:nth-of-type(4) a:after {
        content: "";
        position: absolute;
        left: 0;
        top: calc(50% - 32px);
        width: 64px;
        height: 64px;
        background: url("../images/menu4.png") no-repeat center center;
        background-size: contain !important; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          nav.index ol li:nth-of-type(4) a:after {
            background: url("../images/menu4@2x.png") no-repeat center center; } }
      nav.index ol li:nth-of-type(5) a:after {
        content: "";
        position: absolute;
        left: 0;
        top: calc(50% - 32px);
        width: 64px;
        height: 64px;
        background: url("../images/menu5.png") no-repeat center center;
        background-size: contain !important; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          nav.index ol li:nth-of-type(5) a:after {
            background: url("../images/menu5@2x.png") no-repeat center center; } }
      nav.index ol li:nth-of-type(6) a:after {
        content: "";
        position: absolute;
        left: 0;
        top: calc(50% - 32px);
        width: 64px;
        height: 64px;
        background: url("../images/menu6.png") no-repeat center center;
        background-size: contain !important; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          nav.index ol li:nth-of-type(6) a:after {
            background: url("../images/menu6@2x.png") no-repeat center center; } }
      nav.index ol li:nth-of-type(7) a:after {
        content: "";
        position: absolute;
        left: 0;
        top: calc(50% - 32px);
        width: 64px;
        height: 64px;
        background: url("../images/menu7.png") no-repeat center center;
        background-size: contain !important; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          nav.index ol li:nth-of-type(7) a:after {
            background: url("../images/menu7@2x.png") no-repeat center center; } }
      nav.index ol li:nth-of-type(8) a:after {
        content: "";
        position: absolute;
        left: 0;
        top: calc(50% - 32px);
        width: 64px;
        height: 64px;
        background: url("../images/menu8.png") no-repeat center center;
        background-size: contain !important; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          nav.index ol li:nth-of-type(8) a:after {
            background: url("../images/menu8@2x.png") no-repeat center center; } }
      nav.index ol li a {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        color: #fff;
        padding-left: 64px; }

nav.index2 {
  margin: 0 auto;
  width: 100%;
  max-width: 860px;
  padding: 0 60px;
  background: #C6010A; }
  nav.index2 ol {
    display: flex;
    flex-direction: row; }
    nav.index2 ol li a {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 90px;
      height: 40px;
      color: #fff;
      font-size: .75em;
      background: #C6010A; }
      nav.index2 ol li a:hover {
        background: #EC0A00; }
      nav.index2 ol li a.js-active {
        background: #EC0A00; }

footer {
  margin: 8px auto;
  width: 100%;
  max-width: 860px;
  color: #ABB4BD;
  text-align: right;
  font-size: .75em; }
