@charset "UTF-8";
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

body {
  position: relative;
  font-family: myFont, "Noto Sans TC", "微軟正黑體", "Microsoft JhengHei", "PMingLiU", AppleGothic, Dotum, Lucida Grande, Verdana Sans-serif;
  font-size: 16px;
  color: #404040; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  color: #404040;
  text-decoration: none; }

@media only screen and (min-width: 768px) {
  .only-phone {
    display: none !important; } }

@media only screen and (max-width: 767px) {
  .only-pc {
    display: none !important; } }

header.top {
  margin: 0 auto;
  width: 100%;
  min-height: 127px;
  max-width: 860px; }
  @media only screen and (max-width: 767px) {
    header.top {
      padding: 0 22px; } }
  header.top .title {
    margin: 18px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 476px;
    min-height: 127px;
    padding-left: 111px;
    background: url("../images/logo.png") no-repeat left center;
    background-size: 89px 89px !important; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      header.top .title {
        background: url("../images/logo@2x.png") no-repeat left center; } }
    @media only screen and (max-width: 767px) {
      header.top .title {
        padding-left: 71px;
        background-size: 61px 61px !important; } }
    header.top .title img {
      width: 100%;
      height: auto; }

.container.index {
  margin: 0 auto;
  width: 100%;
  max-width: 860px;
  border-top: #FFC8D2 3px solid; }
  .container.index .banner {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    height: 360px;
    background: url("../images/banner.jpg") no-repeat;
    background-size: contain !important; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      .container.index .banner {
        background: url("../images/banner@2x.jpg") no-repeat; } }
    @media only screen and (max-width: 767px) {
      .container.index .banner {
        justify-content: center;
        height: 462px;
        background: url("../images/banner-mobile.jpg") no-repeat;
        background-size: cover !important; } }
  @media only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), only screen and (max-width: 767px) and (min-resolution: 192dpi) {
    .container.index .banner {
      background: url("../images/banner-mobile@2x.jpg") no-repeat; } }

    .container.index .banner .item {
      margin: 32px 14px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      background: #FFBC10;
      color: #fff;
      text-align: center; }
      @media only screen and (max-width: 767px) {
        .container.index .banner .item {
          margin: 42px 7px;
          width: 96px;
          height: 96px; } }
    .container.index .banner .language {
      position: absolute;
      top: 14px;
      right: 14px;
      display: block; }
      .container.index .banner .language a {
        display: inline-block; }
        .container.index .banner .language a.cht {
          width: 18px;
          height: 18px;
          background: url("../images/cht.png") no-repeat;
          background-size: contain !important; }
          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            .container.index .banner .language a.cht {
              background: url("../images/cht@2x.png") no-repeat; } }
          .container.index .banner .language a.cht.active {
            background: url("../images/cht_active.png") no-repeat; }
            @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
              .container.index .banner .language a.cht.active {
                background: url("../images/cht_active@2x.png") no-repeat; } }
          .container.index .banner .language a.cht:hover {
            background: url("../images/cht_hover.png") no-repeat; }
            @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
              .container.index .banner .language a.cht:hover {
                background: url("../images/cht_hover@2x.png") no-repeat; } }
        .container.index .banner .language a.jp {
          width: 18px;
          height: 18px;
          background: url("../images/jp.png") no-repeat;
          background-size: contain !important; }
          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            .container.index .banner .language a.jp {
              background: url("../images/jp@2x.png") no-repeat; } }
          .container.index .banner .language a.jp.active {
            background: url("../images/jp_active.png") no-repeat; }
            @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
              .container.index .banner .language a.jp.active {
                background: url("../images/jp_active@2x.png") no-repeat; } }
          .container.index .banner .language a.jp:hover {
            background: url("../images/jp_hover.png") no-repeat; }
            @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
              .container.index .banner .language a.jp:hover {
                background: url("../images/jp_hover@2x.png") no-repeat; } }

.container.index2 article {
  display: none; }
  .container.index2 article.js-active {
    display: block; }
.container.index2 header {
  margin: 0 auto;
  width: 100%;
  padding: 108px 65px 0;
  max-width: 860px;
  height: 158px;
  background: url("../images/banner2.jpg") no-repeat;
  background-size: contain !important;
  font-size: 2.25em;
  color: #fff; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .container.index2 header {
      background: url("../images/banner2@2x.jpg") no-repeat; } }
  @media only screen and (max-width: 767px) {
    .container.index2 header {
      padding: 63px 23px 0;
      height: 110px;
      background: url("../images/banner2-mobile.jpg") no-repeat right;
      background-size: cover !important;
      font-size: 2.14em; } }
  @media only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), only screen and (max-width: 767px) and (min-resolution: 192dpi) {
    .container.index2 header {
      background: url("../images/banner2-mobile@2x.jpg") no-repeat right; } }

.container.index2 .content {
  margin: 0 auto;
  width: 100%;
  max-width: 860px;
  min-height: 312px;
  padding: 48px 60px;
  color: #fff;
  background: #FFC8D2;
  line-height: 2.25em; }
  @media only screen and (max-width: 767px) {
    .container.index2 .content {
      padding: 48px 22px; } }
.container.index2 .page2 li {
  margin: 24px 0;
  padding-left: 19px;
  background: url("../images/tri.png") no-repeat left center;
  background-size: 12px 12px !important;
  line-height: 1.2em; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .container.index2 .page2 li {
      background: url("../images/tri@2x.png") no-repeat left center; } }
.container.index2 .page2 .content {
  background: #FFC8D2 url("../images/image02.png") no-repeat right 82px bottom;
  background-size: 116px 146px !important; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .container.index2 .page2 .content {
      background: #FFC8D2 url("../images/image02@2x.png") no-repeat right 82px bottom; } }
  @media only screen and (max-width: 767px) {
    .container.index2 .page2 .content {
      padding-bottom: 187px;
      background: #FFC8D2 url("../images/image02.png") no-repeat right center bottom;
      background-size: 116px 146px !important; } }
  @media only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), only screen and (max-width: 767px) and (min-resolution: 192dpi) {
    .container.index2 .page2 .content {
      background: #FFC8D2 url("../images/image02@2x.png") no-repeat center bottom; } }

.container.index2 .page3 ol {
  display: flex; }
  @media only screen and (max-width: 767px) {
    .container.index2 .page3 ol {
      flex-direction: column; } }
  .container.index2 .page3 ol li {
    position: relative;
    margin: 0 2px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 245px;
    height: 245px;
    padding-top: 38px;
    border: 1px #fff solid;
    border-radius: 5px; }
    @media only screen and (max-width: 767px) {
      .container.index2 .page3 ol li {
        margin-bottom: 18px;
        justify-content: center;
        width: 100%;
        height: 100px;
        padding-top: 0;
        padding-left: 85px;
        padding-right: 11px;
        background-color: #FF9FB1 !important; } }
  @media only screen and (max-width: 767px) and (max-width: 767px) {
    .container.index2 .page3 ol li {
      background-position: left 11px center !important; } }

    .container.index2 .page3 ol li:nth-of-type(1) {
      background: url("../images/image03_1.png") no-repeat center center;
      background-size: 65px 44px !important; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .container.index2 .page3 ol li:nth-of-type(1) {
          background: url("../images/image03_1@2x.png") no-repeat center center; } }
    .container.index2 .page3 ol li:nth-of-type(2) {
      background: url("../images/image03_2.png") no-repeat center center;
      background-size: 54px 52px !important; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .container.index2 .page3 ol li:nth-of-type(2) {
          background: url("../images/image03_2@2x.png") no-repeat center center; } }
    .container.index2 .page3 ol li:nth-of-type(3) {
      background: url("../images/image03_3.png") no-repeat center center;
      background-size: 64px 54px !important; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .container.index2 .page3 ol li:nth-of-type(3) {
          background: url("../images/image03_3@2x.png") no-repeat center center; } }
    .container.index2 .page3 ol li:hover {
      background-color: #FF9FB1; }
    .container.index2 .page3 ol li span {
      display: inline-block;
      font-size: 1.25em;
      text-align: center; }
      @media only screen and (max-width: 767px) {
        .container.index2 .page3 ol li span {
          font-size: 1.1em; } }
      .container.index2 .page3 ol li span:last-of-type {
        width: 170px;
        height: 40px;
        font-size: .875em;
        line-height: 1em; }
        @media only screen and (max-width: 767px) {
          .container.index2 .page3 ol li span:last-of-type {
            width: 100%;
            height: auto; } }
.container.index2 .page4 li {
  margin: 0 auto 11px;
  width: 363px;
  max-width: 100%;
  height: 45px;
  padding-left: 28px;
  background: url("../images/option.png") no-repeat center center;
  background-size: 100% 100% !important;
  line-height: 45px; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .container.index2 .page4 li {
      background: url("../images/option@2x.png") no-repeat center center; } }
  .container.index2 .page4 li:hover {
    background: url("../images/option_hover.png") no-repeat center center; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      .container.index2 .page4 li:hover {
        background: url("../images/option_hover@2x.png") no-repeat center center; } }
.container.index2 .page4 .content {
  background-color: #FFC8D2 !important;
  background: url("../images/image04_1.png") no-repeat right 5% bottom, url("../images/image04_2.png") no-repeat left 5% bottom;
  background-size: auto 90%, auto 90% !important; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .container.index2 .page4 .content {
      background: url("../images/image04_1@2x.png") no-repeat right 5% bottom, url("../images/image04_2@2x.png") no-repeat left 5% bottom; } }
  @media only screen and (max-width: 767px) {
    .container.index2 .page4 .content {
      padding-bottom: 320px;
      background: url("../images/image04-mobile.png") no-repeat center bottom;
      background-size: 100% auto !important; } }
  @media only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), only screen and (max-width: 767px) and (min-resolution: 192dpi) {
    .container.index2 .page4 .content {
      background: url("../images/image04-mobile@2x.png") no-repeat center bottom; } }

.container.index2 .page5 ol {
  padding-left: 93px; }
  @media only screen and (max-width: 767px) {
    .container.index2 .page5 ol {
      padding-top: 127px;
      padding-left: 0; } }
.container.index2 .page5 li {
  display: flex;
  flex-direction: row; }
  .container.index2 .page5 li span {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 90px; }
    .container.index2 .page5 li span:last-of-type {
      justify-content: flex-start;
      line-height: 1em; }
.container.index2 .page5 .content {
  background: #FFC8D2 url("../images/logo.png") no-repeat left center;
  background-origin: content-box !important;
  background-size: 91px 91px !important; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .container.index2 .page5 .content {
      background: #FFC8D2 url("../images/logo@2x.png") no-repeat left center; } }
  @media only screen and (max-width: 767px) {
    .container.index2 .page5 .content {
      background-position: center top 13px !important; } }

nav.index {
  margin: 0 auto;
  width: 100%;
  max-width: 860px; }
  nav.index ol {
    display: flex;
    flex-wrap: wrap; }
    nav.index ol li {
      width: 25%;
      height: 75px;
      background: #FFC8D2;
      text-align: center; }
      @media only screen and (max-width: 767px) {
        nav.index ol li {
          height: 106px;
          background: #FF9FB1; } }
      nav.index ol li:hover {
        background: #FF9FB1; }
      nav.index ol li:nth-of-type(1) a:after {
        content: "";
        position: absolute;
        left: 0;
        top: calc(50% - 32px);
        width: 64px;
        height: 64px;
        background: url("../images/menu1.png") no-repeat center center;
        background-size: contain !important; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          nav.index ol li:nth-of-type(1) a:after {
            background: url("../images/menu1@2x.png") no-repeat center center; } }
        @media only screen and (max-width: 767px) {
          nav.index ol li:nth-of-type(1) a:after {
            left: calc(50% - 32px); } }
      nav.index ol li:nth-of-type(2) a:after {
        content: "";
        position: absolute;
        left: 0;
        top: calc(50% - 32px);
        width: 64px;
        height: 64px;
        background: url("../images/menu2.png") no-repeat center center;
        background-size: contain !important; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          nav.index ol li:nth-of-type(2) a:after {
            background: url("../images/menu2@2x.png") no-repeat center center; } }
        @media only screen and (max-width: 767px) {
          nav.index ol li:nth-of-type(2) a:after {
            left: calc(50% - 32px); } }
      nav.index ol li:nth-of-type(3) a:after {
        content: "";
        position: absolute;
        left: 0;
        top: calc(50% - 32px);
        width: 64px;
        height: 64px;
        background: url("../images/menu3.png") no-repeat center center;
        background-size: contain !important; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          nav.index ol li:nth-of-type(3) a:after {
            background: url("../images/menu3@2x.png") no-repeat center center; } }
        @media only screen and (max-width: 767px) {
          nav.index ol li:nth-of-type(3) a:after {
            left: calc(50% - 32px); } }
      nav.index ol li:nth-of-type(4) a:after {
        content: "";
        position: absolute;
        left: 0;
        top: calc(50% - 32px);
        width: 64px;
        height: 64px;
        background: url("../images/menu4.png") no-repeat center center;
        background-size: contain !important; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          nav.index ol li:nth-of-type(4) a:after {
            background: url("../images/menu4@2x.png") no-repeat center center; } }
        @media only screen and (max-width: 767px) {
          nav.index ol li:nth-of-type(4) a:after {
            left: calc(50% - 32px); } }
      nav.index ol li:nth-of-type(5) a:after {
        content: "";
        position: absolute;
        left: 0;
        top: calc(50% - 32px);
        width: 64px;
        height: 64px;
        background: url("../images/menu5.png") no-repeat center center;
        background-size: contain !important; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          nav.index ol li:nth-of-type(5) a:after {
            background: url("../images/menu5@2x.png") no-repeat center center; } }
        @media only screen and (max-width: 767px) {
          nav.index ol li:nth-of-type(5) a:after {
            left: calc(50% - 32px); } }
      nav.index ol li:nth-of-type(6) a:after {
        content: "";
        position: absolute;
        left: 0;
        top: calc(50% - 32px);
        width: 64px;
        height: 64px;
        background: url("../images/menu6.png") no-repeat center center;
        background-size: contain !important; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          nav.index ol li:nth-of-type(6) a:after {
            background: url("../images/menu6@2x.png") no-repeat center center; } }
        @media only screen and (max-width: 767px) {
          nav.index ol li:nth-of-type(6) a:after {
            left: calc(50% - 32px); } }
      nav.index ol li:nth-of-type(7) a:after {
        content: "";
        position: absolute;
        left: 0;
        top: calc(50% - 32px);
        width: 64px;
        height: 64px;
        background: url("../images/menu7.png") no-repeat center center;
        background-size: contain !important; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          nav.index ol li:nth-of-type(7) a:after {
            background: url("../images/menu7@2x.png") no-repeat center center; } }
        @media only screen and (max-width: 767px) {
          nav.index ol li:nth-of-type(7) a:after {
            left: calc(50% - 32px); } }
      nav.index ol li:nth-of-type(8) a:after {
        content: "";
        position: absolute;
        left: 0;
        top: calc(50% - 32px);
        width: 64px;
        height: 64px;
        background: url("../images/menu8.png") no-repeat center center;
        background-size: contain !important; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          nav.index ol li:nth-of-type(8) a:after {
            background: url("../images/menu8@2x.png") no-repeat center center; } }
        @media only screen and (max-width: 767px) {
          nav.index ol li:nth-of-type(8) a:after {
            left: calc(50% - 32px); } }
      nav.index ol li a {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        color: #fff;
        padding-left: 64px; }
        @media only screen and (max-width: 767px) {
          nav.index ol li a {
            align-items: flex-end;
            width: 100%;
            padding-left: 0;
            padding-bottom: 7px;
            font-size: .8em; } }
  nav.index .language {
    height: 36px;
    background: #FF9FB1;
    line-height: 36px;
    text-align: center; }
    nav.index .language .arrow {
      display: inline-block;
      width: 17px;
      height: 14px;
      background: url("../images/arrow.png") no-repeat;
      background-size: contain !important; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        nav.index .language .arrow {
          background: url("../images/arrow@2x.png") no-repeat; } }
    nav.index .language a {
      display: inline-block; }
      nav.index .language a.cht {
        width: 18px;
        height: 18px;
        background: url("../images/cht.png") no-repeat;
        background-size: contain !important; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          nav.index .language a.cht {
            background: url("../images/cht@2x.png") no-repeat; } }
        nav.index .language a.cht.active {
          background: url("../images/cht_active.png") no-repeat; }
          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            nav.index .language a.cht.active {
              background: url("../images/cht_active@2x.png") no-repeat; } }
        nav.index .language a.cht:hover {
          background: url("../images/cht_hover.png") no-repeat; }
          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            nav.index .language a.cht:hover {
              background: url("../images/cht_hover@2x.png") no-repeat; } }
      nav.index .language a.jp {
        width: 18px;
        height: 18px;
        background: url("../images/jp.png") no-repeat;
        background-size: contain !important; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          nav.index .language a.jp {
            background: url("../images/jp@2x.png") no-repeat; } }
        nav.index .language a.jp.active {
          background: url("../images/jp_active.png") no-repeat; }
          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            nav.index .language a.jp.active {
              background: url("../images/jp_active@2x.png") no-repeat; } }
        nav.index .language a.jp:hover {
          background: url("../images/jp_hover.png") no-repeat; }
          @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            nav.index .language a.jp:hover {
              background: url("../images/jp_hover@2x.png") no-repeat; } }

nav.index2 {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 860px;
  padding: 0 60px;
  background: #C6010A;
  z-index: 99; }
  @media only screen and (max-width: 767px) {
    nav.index2 {
      position: fixed;
      bottom: -424px;
      left: 0;
      padding: 0;
      background: #FF9FB1;
      transition: all .5s; } }
  nav.index2.js-fix-fixed {
    position: static !important; }
    nav.index2.js-fix-fixed .open {
      display: none; }
  nav.index2.js-active {
    bottom: 0; }
  nav.index2 .open {
    position: absolute;
    top: -30px;
    left: calc(50% - 110px/2);
    width: 110px;
    height: 30px;
    background: url("../images/menubt.png") no-repeat;
    z-index: 99; }
  nav.index2 ol {
    display: flex;
    flex-direction: row; }
    @media only screen and (max-width: 767px) {
      nav.index2 ol {
        flex-wrap: wrap; } }
    nav.index2 ol li {
      position: relative; }
      @media only screen and (max-width: 767px) {
        nav.index2 ol li {
          width: 50%; } }
      nav.index2 ol li a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 90px;
        height: 40px;
        color: #fff;
        font-size: .75em;
        background: #C6010A; }
        @media only screen and (max-width: 767px) {
          nav.index2 ol li a {
            width: 100%;
            height: 106px;
            padding-top: 68px;
            background: #FF9FB1; } }
        @media only screen and (min-width: 768px) {
          nav.index2 ol li a:hover {
            background: #EC0A00; } }
        @media only screen and (min-width: 768px) {
          nav.index2 ol li a.js-active {
            background: #EC0A00; } }
      @media only screen and (max-width: 767px) {
        nav.index2 ol li:nth-of-type(1) a:after {
          content: "";
          position: absolute;
          left: 0;
          top: calc(50% - 32px);
          width: 64px;
          height: 64px;
          background: url("../images/menu1.png") no-repeat center center;
          background-size: contain !important; } }
  @media only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), only screen and (max-width: 767px) and (min-resolution: 192dpi) {
    nav.index2 ol li:nth-of-type(1) a:after {
      background: url("../images/menu1@2x.png") no-repeat center center; } }
  @media only screen and (max-width: 767px) and (max-width: 767px) {
    nav.index2 ol li:nth-of-type(1) a:after {
      left: calc(50% - 32px); } }
      @media only screen and (max-width: 767px) {
        nav.index2 ol li:nth-of-type(2) a:after {
          content: "";
          position: absolute;
          left: 0;
          top: calc(50% - 32px);
          width: 64px;
          height: 64px;
          background: url("../images/menu2.png") no-repeat center center;
          background-size: contain !important; } }
  @media only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), only screen and (max-width: 767px) and (min-resolution: 192dpi) {
    nav.index2 ol li:nth-of-type(2) a:after {
      background: url("../images/menu2@2x.png") no-repeat center center; } }
  @media only screen and (max-width: 767px) and (max-width: 767px) {
    nav.index2 ol li:nth-of-type(2) a:after {
      left: calc(50% - 32px); } }
      @media only screen and (max-width: 767px) {
        nav.index2 ol li:nth-of-type(3) a:after {
          content: "";
          position: absolute;
          left: 0;
          top: calc(50% - 32px);
          width: 64px;
          height: 64px;
          background: url("../images/menu3.png") no-repeat center center;
          background-size: contain !important; } }
  @media only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), only screen and (max-width: 767px) and (min-resolution: 192dpi) {
    nav.index2 ol li:nth-of-type(3) a:after {
      background: url("../images/menu3@2x.png") no-repeat center center; } }
  @media only screen and (max-width: 767px) and (max-width: 767px) {
    nav.index2 ol li:nth-of-type(3) a:after {
      left: calc(50% - 32px); } }
      @media only screen and (max-width: 767px) {
        nav.index2 ol li:nth-of-type(4) a:after {
          content: "";
          position: absolute;
          left: 0;
          top: calc(50% - 32px);
          width: 64px;
          height: 64px;
          background: url("../images/menu4.png") no-repeat center center;
          background-size: contain !important; } }
  @media only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), only screen and (max-width: 767px) and (min-resolution: 192dpi) {
    nav.index2 ol li:nth-of-type(4) a:after {
      background: url("../images/menu4@2x.png") no-repeat center center; } }
  @media only screen and (max-width: 767px) and (max-width: 767px) {
    nav.index2 ol li:nth-of-type(4) a:after {
      left: calc(50% - 32px); } }
      @media only screen and (max-width: 767px) {
        nav.index2 ol li:nth-of-type(5) a:after {
          content: "";
          position: absolute;
          left: 0;
          top: calc(50% - 32px);
          width: 64px;
          height: 64px;
          background: url("../images/menu5.png") no-repeat center center;
          background-size: contain !important; } }
  @media only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), only screen and (max-width: 767px) and (min-resolution: 192dpi) {
    nav.index2 ol li:nth-of-type(5) a:after {
      background: url("../images/menu5@2x.png") no-repeat center center; } }
  @media only screen and (max-width: 767px) and (max-width: 767px) {
    nav.index2 ol li:nth-of-type(5) a:after {
      left: calc(50% - 32px); } }
      @media only screen and (max-width: 767px) {
        nav.index2 ol li:nth-of-type(6) a:after {
          content: "";
          position: absolute;
          left: 0;
          top: calc(50% - 32px);
          width: 64px;
          height: 64px;
          background: url("../images/menu6.png") no-repeat center center;
          background-size: contain !important; } }
  @media only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), only screen and (max-width: 767px) and (min-resolution: 192dpi) {
    nav.index2 ol li:nth-of-type(6) a:after {
      background: url("../images/menu6@2x.png") no-repeat center center; } }
  @media only screen and (max-width: 767px) and (max-width: 767px) {
    nav.index2 ol li:nth-of-type(6) a:after {
      left: calc(50% - 32px); } }
      @media only screen and (max-width: 767px) {
        nav.index2 ol li:nth-of-type(7) a:after {
          content: "";
          position: absolute;
          left: 0;
          top: calc(50% - 32px);
          width: 64px;
          height: 64px;
          background: url("../images/menu7.png") no-repeat center center;
          background-size: contain !important; } }
  @media only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), only screen and (max-width: 767px) and (min-resolution: 192dpi) {
    nav.index2 ol li:nth-of-type(7) a:after {
      background: url("../images/menu7@2x.png") no-repeat center center; } }
  @media only screen and (max-width: 767px) and (max-width: 767px) {
    nav.index2 ol li:nth-of-type(7) a:after {
      left: calc(50% - 32px); } }
      @media only screen and (max-width: 767px) {
        nav.index2 ol li:nth-of-type(8) a:after {
          content: "";
          position: absolute;
          left: 0;
          top: calc(50% - 32px);
          width: 64px;
          height: 64px;
          background: url("../images/menu8.png") no-repeat center center;
          background-size: contain !important; } }
  @media only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), only screen and (max-width: 767px) and (min-resolution: 192dpi) {
    nav.index2 ol li:nth-of-type(8) a:after {
      background: url("../images/menu8@2x.png") no-repeat center center; } }
  @media only screen and (max-width: 767px) and (max-width: 767px) {
    nav.index2 ol li:nth-of-type(8) a:after {
      left: calc(50% - 32px); } }

footer {
  margin: 8px auto;
  width: 100%;
  max-width: 860px;
  color: #ABB4BD;
  text-align: right;
  font-size: .75em; }
  @media only screen and (max-width: 767px) {
    footer {
      text-align: center;
      padding-bottom: 30px; } }
