@import "compass/reset";
@import "compass/css3/box-sizing";
@import "_mix2";

$phone: 568px;
$pad: 768px;
$pc: 980px;
$hdpc: 1200px;

$default: #404040;
$pink: #FFC8D2;
$peach: #FF9FB1;

body {
  position: relative;
  font-family: $fonts;
  font-size: 16px;
  color: $default;
}
* {
  @include box-sizing(border-box);
}
a {
  color: $default;
  text-decoration: none;
}
.only-phone {
  @include breakpoint($pad) {
    display: none !important;
  }
}
.only-pc {
  @include breakpoint($pad, false) {
    display: none !important;
  }
}

header.top {
  position: relative;
  margin: 0 auto;
  width: 100%;
  min-height: 127px;
  max-width: $pc;
  @include breakpoint($pad, false) {
    padding: 0 22px;
  }
  .title {
    // margin: 18px auto 0;
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 576px;
    min-height: 127px;
    padding-left: 111px;
    padding-right: 100px;
    background:
      url("../images/logo.png") no-repeat left center,
      url("../images/title.png") no-repeat left 100px center;
    background-size:
      89px 89px,
      364px 60px;
    @include breakpoint($pad, false) {
      max-width: 476px;
      padding-left: 71px;
      padding-right: 0;
      background-size:
      61px 61px,
      249px 41px;
    }
  }
  .language {
    position: absolute;
    bottom: 14px;
    right: 0;
    display: block;
    a {
      display: inline-block;
      &.cht {
        width: image-width("../images/cht.png")*1.2;
        height: image-height("../images/cht.png")*1.2;
        background: url("../images/cht.png") no-repeat;
        background-size: contain !important;
        @include retina {
          background: url("../images/cht@2x.png") no-repeat;
        }
        &.active {
          background: url("../images/cht_active.png") no-repeat;
          @include retina {
            background: url("../images/cht_active@2x.png") no-repeat;
          }
        }
        &:hover {
          background: url("../images/cht_hover.png") no-repeat;
          @include retina {
            background: url("../images/cht_hover@2x.png") no-repeat;
          }
        }
      }
      &.jp {
        width: image-width("../images/jp.png")*1.2;
        height: image-height("../images/jp.png")*1.2;
        background: url("../images/jp.png") no-repeat;
        background-size: contain !important;
        @include retina {
          background: url("../images/jp@2x.png") no-repeat;
        }
        &.active {
          background: url("../images/jp_active.png") no-repeat;
          @include retina {
            background: url("../images/jp_active@2x.png") no-repeat;
          }
        }
        &:hover {
          background: url("../images/jp_hover.png") no-repeat;
          @include retina {
            background: url("../images/jp_hover@2x.png") no-repeat;
          }
        }
      }
    }
  }
}
.container.index {
  margin: 0 auto;
  width: 100%;
  max-width: $pc;
  border-top: $pink 3px solid;
  .banner {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    height: 360px;
    background: url("../images/banner.jpg") no-repeat;
    background-size: cover !important;
    @include retina {
      background: url("../images/banner@2x.jpg") no-repeat;
    }
    @include breakpoint($pad, flase) {
      justify-content: center;
      // align-items: flex-end;
      height: 462px;
      background: url("../images/banner-mobile.jpg") no-repeat;
      background-size: cover !important;
      @include retina {
        background: url("../images/banner-mobile@2x.jpg") no-repeat;
      }
    }
    .item {
      margin: 32px 14px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      background: #FFBC10;
      color: #fff;
      text-align: center;
      @include breakpoint($pad, flase) {
        margin: 42px 7px;
        width: 96px;
        height: 96px;
      }
    }
  }
}
.container.index2 {
  article {
    display: none;
    &.js-active {
      display: block;
    }
  }
  header {
    margin: 0 auto;
    width: 100%;
    padding: 108px 65px 0;
    max-width: $pc;
    height: 158px;
    background: url("../images/banner2.jpg") no-repeat;
    background-size: contain !important;
    @include retina {
      background: url("../images/banner2@2x.jpg") no-repeat;
    }
    font-size: 2.25em;
    color: #fff;
    @include breakpoint($pad, false) {
      padding: 63px 23px 0;
      height: 110px;
      background: url("../images/banner2-mobile.jpg") no-repeat right;
      background-size: cover !important;
      @include retina {
        background: url("../images/banner2-mobile@2x.jpg") no-repeat right;
      }
      font-size: 2.14em;
    }
  }
  .content {
    margin: 0 auto;
    width: 100%;
    max-width: $pc;
    min-height: 312px;
    padding: 48px 60px;
    color: #fff;
    background: $peach;
    line-height: 2.25em;
    @include breakpoint($pad, false) {
      padding: 48px 22px;
    }
  }
  .page2 {
    li {
      margin: 24px 0;
      padding-left: 19px;
      background: url("../images/tri.png") no-repeat left center;
      background-size: 12px 12px !important;
      @include retina {
        background: url("../images/tri@2x.png") no-repeat left center;
      }
      line-height: 1.2em;
    }
    .content {
      background: $pink url("../images/image02.png") no-repeat right 82px bottom;
      background-size: 116px 146px !important;
      @include retina {
        background: $pink url("../images/image02@2x.png") no-repeat right 82px bottom;
      }
      @include breakpoint($pad, false) {
        padding-bottom: 18px + 169px;
        background: $pink url("../images/image02.png") no-repeat right center bottom;
        background-size: 116px 146px !important;
        @include retina {
          background: $pink url("../images/image02@2x.png") no-repeat center bottom;
        }
      }
    }
  }
  .page3 {
    ol {
      display: flex;
      @include breakpoint($pad, false) {
        flex-direction: column;
      }
      li {
        position: relative;
        margin: 0 2px;
        display: inline-flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 245px;
        height: 245px;
        padding-top: 38px;
        border: 1px #fff solid;
        border-radius: 5px;
        @include breakpoint($pad, false) {
          margin-bottom: 18px;
          justify-content: center;
          width: 100%;
          height: 100px;
          padding-top: 0;
          padding-left: 10px + 64px + 11px;
          padding-right: 11px;
          background-color: $peach !important;
          @include breakpoint($pad, false) {
            background-position: left 11px center !important;
          }
        }
        &:nth-of-type(1) {
          background: url("../images/image03_1.png") no-repeat center center;
          background-size: image-width("../images/image03_1.png") image-height("../images/image03_1.png") !important;
          @include retina {
            background: url("../images/image03_1@2x.png") no-repeat center center;
          }
        }
        &:nth-of-type(2) {
          background: url("../images/image03_2.png") no-repeat center center;
          background-size: image-width("../images/image03_2.png") image-height("../images/image03_2.png") !important;
          @include retina {
            background: url("../images/image03_2@2x.png") no-repeat center center;
          }
        }
        &:nth-of-type(3) {
          background: url("../images/image03_3.png") no-repeat center center;
          background-size: image-width("../images/image03_3.png") image-height("../images/image03_3.png") !important;
          @include retina {
            background: url("../images/image03_3@2x.png") no-repeat center center;
          }
        }
        &:hover {
          background-color: $peach;
        }
        span {
          display: inline-block;
          font-size: 1.25em;
          text-align: center;
          @include breakpoint($pad, false) {
            font-size: 1.1em;
          }
          &:last-of-type {
            width: 170px;
            height: 40px;
            font-size: .875em;
            line-height: 1em;
            @include breakpoint($pad, false) {
              width: 100%;
              height: auto;
            }
          }
        }
      }
    }
  }
  .page4 {
    li {
      margin: 0 auto 11px;
      width: 363px;
      max-width: 100%;
      height: 45px;
      padding-left: 28px;
      background: url("../images/option.png") no-repeat center center;
      background-size: 100% 100% !important;
      @include retina {
        background: url("../images/option@2x.png") no-repeat center center;
      }
      line-height: 45px;
      &:hover {
        background: url("../images/option_hover.png") no-repeat center center;
        @include retina {
          background: url("../images/option_hover@2x.png") no-repeat center center;
        }
      }
    }
    .content {
      background-color: $pink !important;
      background:
      url("../images/image04_1.png") no-repeat right 5% bottom,
      url("../images/image04_2.png") no-repeat left 5% bottom;
      background-size:
      auto 90%,
      auto 90% !important;
      @include retina {
        background:
        url("../images/image04_1@2x.png") no-repeat right 5% bottom,
        url("../images/image04_2@2x.png") no-repeat left 5% bottom;
      }
      @include breakpoint($pad, false) {
        padding-bottom: 320px;
        background: url("../images/image04-mobile.png") no-repeat center bottom;
        background-size: 100% auto !important;
        @include retina {
          background: url("../images/image04-mobile@2x.png") no-repeat center bottom;
        }
      }
    }
  }
  .page5 {
    ol {
      padding-left: 93px;
      @include breakpoint($pad, false) {
        padding-top: 127px;
        padding-left: 0;
      }
    }
    li {
      display: flex;
      flex-direction: row;
      span {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 90px;
        &:last-of-type {
          justify-content: flex-start;
          line-height: 1em;
        }
      }
    }
    .content {
      background: $pink url("../images/logo.png") no-repeat left center;
      background-origin: content-box !important;
      background-size: image-width("../images/logo.png") image-height("../images/logo.png") !important;
      @include retina {
        background: $pink url("../images/logo@2x.png") no-repeat left center;
      }
      @include breakpoint($pad, false) {
        background-position: center top 13px !important;
      }
    }
  }
  .page6 {
    a {
      color: #fff;
    }
  }
}
nav.index {
  margin: 0 auto;
  width: 100%;
  max-width: $pc;
  ol {
    display: flex;
    flex-wrap: wrap;
    li {
      width: 25%;
      height: 75px;
      background: $peach;
      text-align: center;
      @include breakpoint($pad, false) {
        height: 106px;
        background: $peach;
      }
      &:hover {
        background: $pink;
      }
      @for $_i from 1 through 8 {
        &:nth-of-type(#{$_i}) {
          a {
            &:after {
              content: "";
              position: absolute;
              left: 0;
              top: calc(50% - 32px);
              width: 64px;
              height: 64px;
              background: url("../images/menu#{$_i}.png") no-repeat center center;
              background-size: contain !important;
              @include retina {
                background: url("../images/menu#{$_i}@2x.png") no-repeat center center;
              }
              @include breakpoint($pad, false) {
                left: calc(50% - 32px);
              }
            }
          }
        }
      }
      a {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        color: #fff;
        padding-left: 64px;
        @include breakpoint($pad, false) {
          align-items: flex-end;
          width: 100%;
          padding-left: 0;
          padding-bottom: 7px;
          font-size: .8em;
        }
      }
    }
  }
  .language {
    height: 36px;
    background: $peach;
    line-height: 36px;
    text-align: center;
    .arrow {
      display: inline-block;
      width: image-width("../images/arrow.png");
      height: image-height("../images/arrow.png");
      background: url("../images/arrow.png") no-repeat;
      background-size: contain !important;
      @include retina {
        background: url("../images/arrow@2x.png") no-repeat;
      }
    }
    a {
      display: inline-block;
      &.cht {
        width: image-width("../images/cht.png");
        height: image-height("../images/cht.png");
        background: url("../images/cht.png") no-repeat;
        background-size: contain !important;
        @include retina {
          background: url("../images/cht@2x.png") no-repeat;
        }
        &.active {
          background: url("../images/cht_active.png") no-repeat;
          @include retina {
            background: url("../images/cht_active@2x.png") no-repeat;
          }
        }
        &:hover {
          background: url("../images/cht_hover.png") no-repeat;
          @include retina {
            background: url("../images/cht_hover@2x.png") no-repeat;
          }
        }
      }
      &.jp {
        width: image-width("../images/jp.png");
        height: image-height("../images/jp.png");
        background: url("../images/jp.png") no-repeat;
        background-size: contain !important;
        @include retina {
          background: url("../images/jp@2x.png") no-repeat;
        }
        &.active {
          background: url("../images/jp_active.png") no-repeat;
          @include retina {
            background: url("../images/jp_active@2x.png") no-repeat;
          }
        }
        &:hover {
          background: url("../images/jp_hover.png") no-repeat;
          @include retina {
            background: url("../images/jp_hover@2x.png") no-repeat;
          }
        }
      }
    }
  }
}
nav.index2 {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: $pc;
  padding: 0 60px;
  background: #C6010A;
  z-index: 99;
  @include breakpoint($pad, false) {
    position: fixed;
    bottom: -424px;
    left: 0;
    padding: 0;
    background: $peach;
    transition: all .5s;
  }
  &.js-fix-fixed {
   position: static !important;
   .open {
     display: none;
   }
  }
  &.js-active {
    bottom: 0;
  }
  .open {
    position: absolute;
    top: -1 * image-height('../images/menubt.png');
    left: calc(50% - #{image-width('../images/menubt.png')}/2);
    width: image-width('../images/menubt.png');
    height: image-height('../images/menubt.png');
    background: url('../images/menubt.png') no-repeat;
    z-index: 99;
  }
  ol {
    display: flex;
    flex-direction: row;
    @include breakpoint($pad, false) {
      flex-wrap: wrap;
    }
    li {
      position: relative;
      @include breakpoint($pad, false) {
        width: 50%;
      }
      a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 107px;
        height: 50px;
        color: #fff;
        // font-size: .75em;
        background: #C6010A;
        @include breakpoint($pad, false) {
          width: 100%;
          height: 106px;
          padding-top: 68px;
          background: $peach;
        }
        &:hover {
          @include breakpoint($pad) {
            background: #EC0A00;
          }
        }
        &.js-active {
          @include breakpoint($pad) {
            background: #EC0A00;
          }
        }
      }
      @include breakpoint($pad, false) {
        @for $_i from 1 through 8 {
          &:nth-of-type(#{$_i}) {
            a {
              &:after {
                content: "";
                position: absolute;
                left: 0;
                top: calc(50% - 32px);
                width: 64px;
                height: 64px;
                background: url("../images/menu#{$_i}.png") no-repeat center center;
                background-size: contain !important;
                @include retina {
                  background: url("../images/menu#{$_i}@2x.png") no-repeat center center;
                }
                @include breakpoint($pad, false) {
                  left: calc(50% - 32px);
                }
              }
            }
          }
        }
      }
    }
  }
}
footer {
  margin: 8px auto;
  width: 100%;
  max-width: $pc;
  color: #ABB4BD;
  text-align: right;
  font-size: .75em;
  @include breakpoint($pad, false) {
    text-align: center;
    padding-bottom: 30px;
  }
}
